body {
    background-color: #5C6B73;
    margin: 0;
    /* font-family: 'Roboto Mono', monospace; */
    font-family: 'MedievalSharp', cursive;
}

/* Targeting a class in CSS - every element with the class of header will recieve these CSS rules */
.header {
    background-color: #003F91;
    overflow: hidden; 
}

/* These Css rules will be applied when we hover over an anchor element inside of an element using the header class */

.header a:hover {
    background-color: lightgray;
}

.headerLink {
    padding: 14px 16px;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #4A543A;
    /* 
        Red: f * f = 15 * 15 = 255
        Blue: f * f = 15 * 15 = 255
        Green: f * f = 15 * 15 = 255
        255, 255, 255
    */
    font-size: 20pt;
}

/* Target an ID in CSS - the element with the ID of homeLink will recieve these CSS rules */
#homeLink {
    float: left;
}

#aboutLink {
    float: right;
}


